Connected Services/LotteryServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Lottery/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="ArrayOfFriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDto" nillable="true" type="tns:FriendDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDto" nillable="true" type="tns:ArrayOfFriendDto" />
  <xs:complexType name="FriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendId" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDto" nillable="true" type="tns:FriendDto" />
  <xs:complexType name="GameSettingsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardDrawSpeedSeconds" type="xs:int" />
      <xs:element minOccurs="0" name="IsPrivate" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameSettingsDto" nillable="true" type="tns:GameSettingsDto" />
  <xs:complexType name="LobbyStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostNickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Players" nillable="true" type="q1:ArrayOfUserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyStateDto" nillable="true" type="tns:LobbyStateDto" />
  <xs:complexType name="CardDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardDto" nillable="true" type="tns:CardDto" />
</xs:schema>